@keyframes showModal {
  0% {
      transform: translate(calc(100% - 0px));
  }

  100% {
      transform: translate(0px);
  }
}

.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: white;
}

.modal-show {
  animation: showModal .3s ease-out;
}